In [1]:
#import the libraries first
import pandas as pn
import numpy as nmp
import matplotlib.pyplot as mtplt
#Chocolate bar reviews dataset read
df=pn.read_csv('data.csv')

In [2]:
print(df)

        id manufacturer company_location  year_reviewed         bean_origin  \
0     2454         5150           U.S.A.           2019            Tanzania
1     2458         5150           U.S.A.           2019  Dominican Republic
2     2454         5150           U.S.A.           2019          Madagascar
3     2542         5150           U.S.A.           2021                Fiji
4     2546         5150           U.S.A.           2021           Venezuela
...    ...          ...              ...            ...                 ...
2525  1205       Zotter          Austria           2014               Blend
2526  1996       Zotter          Austria           2017            Colombia
2527  2036       Zotter          Austria           2018               Blend
2528  2170       Zotter          Austria           2018               Congo
2529  2170       Zotter          Austria           2018              Belize

                             bar_name  cocoa_percent  num_ingredients  \
0               Kokoa Kamili, batch 1           76.0              3.0
1                     Zorzal, batch 1           76.0              3.0
2              Bejofo Estate, batch 1           76.0              3.0
3               Matasawalevu, batch 1           68.0              3.0
4               Sur del Lago, batch 1           72.0              3.0
...                               ...            ...              ...
2525                              Raw           80.0              4.0
2526                 APROCAFA, Acandi           75.0              3.0
2527  Dry Aged, 30 yr Anniversary bar           75.0              3.0
2528            Mountains of the Moon           70.0              3.0
2529                         Maya Mtn           72.0              3.0

     ingredients                             review  rating
0          B,S,C          rich cocoa, fatty, bready    3.25
1          B,S,C             cocoa, vegetal, savory    3.50
2          B,S,C       cocoa, blackberry, full body    3.75
3          B,S,C                chewy, off, rubbery    3.00
4          B,S,C  fatty, earthy, moss, nutty,chalky    3.00
...          ...                                ...     ...
2525   B,S*,C,Sa             waxy, cloying, vegetal    2.75
2526       B,S,C          strong nutty, marshmallow    3.75
2527       B,S,C               fatty, earthy, cocoa    3.00
2528       B,S,C       fatty, mild nuts, mild fruit    3.25
2529       B,S,C          muted, roasty, accessible    3.50

[2530 rows x 11 columns]

In [3]:
#to get the schema
df.describe()

                id  year_reviewed  cocoa_percent  num_ingredients       rating
count  2530.000000    2530.000000    2530.000000      2443.000000  2530.000000
mean   1429.800791    2014.374308      71.639723         3.041343     3.196344
std     757.648556       3.968267       5.616724         0.913728     0.445321
min       5.000000    2006.000000      42.000000         1.000000     1.000000
25%     802.000000    2012.000000      70.000000         2.000000     3.000000
50%    1454.000000    2015.000000      70.000000         3.000000     3.250000
75%    2079.000000    2018.000000      74.000000         4.000000     3.500000
max    2712.000000    2021.000000     100.000000         6.000000     4.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2530 non-null   int64
 1   manufacturer      2530 non-null   object
 2   company_location  2530 non-null   object
 3   year_reviewed     2530 non-null   int64
 4   bean_origin       2530 non-null   object
 5   bar_name          2530 non-null   object
 6   cocoa_percent     2530 non-null   float64
 7   num_ingredients   2443 non-null   float64
 8   ingredients       2443 non-null   object
 9   review            2530 non-null   object
 10  rating            2530 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 158.2+ KB

In [5]:
#displays first five rows of the dataset
df.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [7]:
df.isnull().sum()

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        0
num_ingredients     87
ingredients         87
review               0
rating               0
dtype: int64

In [8]:
#to replace the null values in ingredients
data1=df.fillna(method="ffill")

In [9]:
data1.isnull().sum()

id                  0
manufacturer        0
company_location    0
year_reviewed       0
bean_origin         0
bar_name            0
cocoa_percent       0
num_ingredients     0
ingredients         0
review              0
rating              0
dtype: int64

In [10]:
#for reduction
cols=['manufacturer','bean_origin','num_ingredients','review']
df = df.drop(cols, axis=1)

In [11]:
#lets check if its cleared
df.head()

,id,company_location,year_reviewed,bar_name,cocoa_percent,ingredients,rating
0,2454,U.S.A.,2019,"Kokoa Kamili, batch 1",76.0,"B,S,C",3.25
1,2458,U.S.A.,2019,"Zorzal, batch 1",76.0,"B,S,C",3.50
2,2454,U.S.A.,2019,"Bejofo Estate, batch 1",76.0,"B,S,C",3.75
3,2542,U.S.A.,2021,"Matasawalevu, batch 1",68.0,"B,S,C",3.00
4,2546,U.S.A.,2021,"Sur del Lago, batch 1",72.0,"B,S,C",3.00

In [12]:
data1.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [13]:
dummy=pn.get_dummies(data1['year_reviewed'])
dummy

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2526,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2527,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2528,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2529,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [14]:
# To plot histogram
df.hist()

array([[<AxesSubplot:title={'center':'id'}>,
        <AxesSubplot:title={'center':'year_reviewed'}>],
       [<AxesSubplot:title={'center':'cocoa_percent'}>,
        <AxesSubplot:title={'center':'rating'}>]], dtype=object)

In [15]:
df.boxplot()